[defaults]
inventory = inventory/hosts
retry_files_enabled = false
stdout_callback = yaml
roles_path = roles
host_key_checking = false
deprecation_warnings = false

[privilege_escalation]
become = false
